@{
    ViewBag.Title = "投诉管理";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

@inherits System.Web.Mvc.WebViewPage


<div id="content">
   
    <div class="itemdiv">

        <div class="book-title">
            投诉时间
        </div>
        <div class="book-title">
            客户姓名
        </div>
        <div class="book-title">
            联系电话
        </div>
        <div class="book-title">
            电子邮件
        </div>
        <div class="book-title" style="width: 324px;">
            消费情况
        </div>
        <div class="book-title" style="width: 100px;">
            操作
        </div>
        @if (ViewBag.suggestionList != null && ViewBag.suggestionList.Count != 0)
        {
            foreach (var item in ViewBag.suggestionList)
            {
                <div class="book-title">
                   @item.SuggestionTime 
                </div>
                <div class="book-title">
                    @item.CustomerName
                </div>
                <div class="book-title">
                    @item.PhoneNumber
                </div>
                <div class="book-title">
                    @item.Email
                </div>
                <div class="book-title" style="width: 324px;">
                    @item.ConsumeDesc
                </div>
                <div class="book-title" style="width: 100px;">
 
                    @if (item.StatusId == 1)
                    {
                        <a href='/Company/HandleSuggestion?suggestionId=@item.SuggestionId'>
                            已受理
                        </a>
                    }
                    else
                    {
                        <a href='/Company/HandleSuggestion?suggestionId=@item.SuggestionId'>
                            受理投诉
                        </a>
                    }

                </div>
                <div class="bookdetail">
                    <div class="book-comment">
                       @item.SuggestionDesc
                    </div>
                </div>
            }
        }

        @*<div class="book-title">
            2017/9/29 17:38:21
        </div>
        <div class="book-title">
            柳钢
        </div>
        <div class="book-title">
            15686623456
        </div>
        <div class="book-title">
            liugang@qq.com
        </div>
        <div class="book-title" style="width: 324px;">
            在本店聚会一次
        </div>
        <div class="book-title" style="width: 100px;">
            <a href='HandleSuggestion?suggestionId=100001'>受理投诉</a>
        </div>
        <div class="bookdetail">
            <div class="book-comment">
                感觉上菜有点慢,希望后续改进。
            </div>
        </div>*@

    </div>

        </div>

